# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

bin/

.idea

.settings

.vscode

src/main/java/it/unibo/javapoly/controller/api/EconomyController.java

src/main/java/it/unibo/javapoly/model/api/player
src/main/java/it/unibo/javapoly/model/impl/player


